body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.6;
    width: 100%;
    margin: 0;
    padding: 20px;
    color: #37288c;
    background: #5d81c154;
}

.header
{
    width: 99%;
    overflow: hidden;
    float: left;
}

.header, #navi
{
    display: inline-block;
}

.profileName
{
    display: inline-block;
}
.headersection
{
    margin-top: 31px;
}

#navi
{
    float: right;
}

nav a {
    color: #37288c;
    font-size: 16px;
    padding: 0 6px;
    text-decoration: underline;
}

nav a:hover {
    color: #c71582;
    text-decoration: underline;
}

.profileImage {
    float: left;
    width: 25%;
    margin-right: 357px;
}

.aboutheader {
    font-size: 30px;
    color: #37288c;
    margin-bottom: 20px;
}

.aboutDetail p {
    font-size: 16px;
    color: #333;
    margin-bottom: 20px;
}

#contactInfo {
    margin-top: 20px;
}

#contactInfo img {
    vertical-align: middle;
    margin-right: 10px;
}

.locPara, .phnPara {
    display: inline-block;
    margin: 0;
    font-size: 16px;
    color: #333;
    vertical-align: middle;
}

.locPara {
    margin-left: 5px;
}

.phnPara {
    margin-left: 20px;
}

.locationImg, .phoneImg{
    width: 5%;
}


.skillProcontainer {
        width: 100%;
        overflow: hidden;
        margin-top: 50px;
    }
    
    .skills, .projects {
        width: 49%;
    }
    
    .skills {
        float: left;
    }
    
    .projects {
        float: right;
    }
    
    .skillbar {
        margin-bottom: 10px;
    }
    
    .skillbarlabel {
        display: inline-block;
        width: 120px;
    }
    
    progress {
        width: 180px;
        vertical-align: middle;
    }
    
    .project {
        overflow: hidden;
        margin-bottom: 20px;
    }
    
    .project img {
        width: 35%;
        float: left;
        margin-right: 15px;
        border-radius: 8px;
    }
    
    .project-info {
        overflow: hidden;
    }


.eduexpcontainer {
    width: 100%;
    overflow: hidden; 
    margin-top: 40px;
}

.education {
    width: 49%;
    float: left;
    min-height: 300px;
}

.experience {
    width: 49%;
    float: right;
    min-height: 300px;
}



.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 50px;
    height: 50px;
}

.footer {
   text-align: center;
}

p,
li,
label,
h3 {
    color: black;
}